In [9]:
import numpy as np
import pandas as pd

school= pd.read_csv("enrollment.csv")
student_enrollment = school.drop(columns=['african_american','american_indian','asian__not_pacific_islander', 
                    'hispanic','multiracial','native_hawaiian_or_other_pacific_islander', 'white'])

student_enrollment.groupby("neighborhood").count()

,total_students_enrolled,student_count_redactions,attending_feeder,attending_nonfeeder,total_with_feeder_status,feeder_count_redactions,grade_level
neighborhood,,,,,,,
Allegheny Center,3,4,1,1,3,2,4
Allegheny West,0,4,0,0,0,3,4
Allentown,3,4,3,3,3,0,4
Arlington,3,4,3,3,3,0,4
Arlington Heights,1,4,0,0,1,3,4
...,...,...,...,...,...,...,...
West End,1,4,0,0,1,3,4
West Oakland,3,4,1,1,3,2,4
Westwood,4,4,3,3,3,0,4
Wilkinsburg Borough,3,4,0,0,3,3,4
Windgap,4,4,3,3,3,0,4